doctype html
html(lang='en')
    head
        style
            include ../../docs/css/style.css

        title aastock tile tryout
    body
        h1 Hello World

        script
            include app.js
